* {
  text-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
}




/* ******************************** */
/* logo */
/* ******************************** */

#tripadvisor {
  width: 190px;
}

#tripadvisor-logo {
  width: 40px;
}

header{
    position: relative;
    width: 100%;
    display: flex;
 

  justify-content: center;

}
/* header => path to section */
header > section {
  display: flex;
  justify-content: space-between; /* horizontal */
  margin-top:0px;
}

/* header => path to section => path to nav */
header > section > nav {
  display: flex;
}

header nav div {
  display: flex;
  align-items: center; /* vertical */
}

header a {
  color: #000;
  font-weight:bold;
  font-size: 15px;
  margin-left: 5px;
}
  
  main a {
    color: #000;
    font-weight:bold;
    font-size: 15px;
    margin-left: 5px;
  }
  #sign-in {
    border:none;
    background-color: #000;
    color: #fff;
    border-radius: 30px;
    font-size: 15px;
    padding: 12px 16px;  /* padding : 12px 16px 12px 16px */
  }
  #sign-in:hover{
  background-color: #faf1ed;
  color: black;
  }
  
  header > section > nav > div, button {
    margin-left:20px;
  }
  header > section > nav > div:hover{
    background-color: rgb(206, 206, 206);
    border-radius: 15px;
  }
  
  textarea {
    height: 20px;
    width: 20px;
    resize: none;
    
    padding-right: 200px;
    padding-top: 20px;
    border-radius: 15px;
    min-width :1px;
  }

  .inline{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    border-bottom: 2px solid #f2f2f2;
    color: rgb(0, 0, 0);
    margin-left: auto;
    margin-right: auto;
  }
  .flex {
    display:flex;
    align-items: center;
  }
  .flex-container {
    display: flex;
    
    
  }
  
  .flex-container > div > .sign-in {
  
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    min-width :5px;
  }
 
 
  .box{
      text-align: center;
      padding: 5px;
      border-bottom: 2px solid #f2f2f2;
  
  
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
      color: rgb(0, 0, 0);
  }
  
  .box2{
      text-align: center;
      padding: 1px;
      
  
  
      font-weight: 700px;
      font-size: 24px;
      line-height: 28px;
      color: rgb(0, 0, 0);
  }
  .longeur{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    border-bottom: 2px solid #f2f2f2;
    width: 70%;
    color: rgb(0, 0, 0);
    margin-left: auto;
    margin-right: auto;
  
  }
  .messages {
    display: flex;
    
  }
  b{
   color: aqua;
  }
  .h2{
    display: flex;
    font-size: 15px;
    justify-content: center;
}




#button-voyage{
   margin-left: 500px;
}
  #button2 {
  
    border:none;
    background-color: #000;
    color: rgb(255, 255, 255);
    border-radius: 30px;
    font-size: 20px;
    padding: 12px 16px;  
    
  
     
        color: rgb(255, 255, 255);
        font-size: 13px;
  }

  #button {
  
    border:none;
    background-color: #faf1ed;
    color: black;
    border-radius: 30px;
    font-size: 20px;
    padding: 12px 16px;  
    
  
     
        
        font-size: 13px;
  }
  #button:focus{
  background-color: #faf1ed;
  color: black;
  }

  #begin {
    border:none;
    background-color: #000;
    color: #fff;
    border-radius: 30px;
    font-size: 20px;
    padding: 12px 16px;
  }

  #begin:hover {
    background-color: #faf1ed;
    color: black;
  }
  
.text{
  width: 300px;
  height:100px;
  padding-left: 500px;
}

footer {
  width:100%;
  background-color:#faf1ed;
  position:absolute;
}

footer > section {
  width:80%;
}

footer p {
  color:#333;
  font-size:12px;
  font-family: 'Poppins', sans-serif;
  margin:0px;
  padding-bottom:6px;
}

footer a {
  color:#333;
  font-size:15px;
  font-weight:bold;
  text-decoration: underline;
  margin-right:15px;
}

.copyright-and-link {
  display:flex;
  flex-direction:column;
  justify-content: space-between;
  margin-left:18px;
}

#notice {
  padding: 8px 0px;
}

#more {
  color:#333;
  font-size:12px;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}

#more:hover {
  text-decoration: underline;
}

footer select {
  border: 2px solid rgb(211, 211, 211);
  border-radius: 15px;
  width: 180px;
  height: 35px;
  font-size: 15px;
  padding: 0px 10px;
}

#currency-and-country {
  margin-top:-40px;
}






  